@import '../styles/Responsive.scss';

.follow {
    height: 100%;
    
    .usersCtn {
        background-color: rgba(190, 190, 190, 0.25);
        border-radius: 2rem 0 0 2rem;
        overflow-y: scroll;
        height: 75vh;
        width: 90%;
        padding: 1rem 1rem;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem 1rem;
    
        //background: rgba( 255, 255, 255, 0.25 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );


        @include media(pc) {
    
        }

        .test123 {
            height: 14rem;
            padding: 0.3rem 0 !important;
            width: 80% !important;
            justify-content: space-between;
            
            @include media(pc) {
                height: 20rem;
                width: 50% !important;
                //margin: 0.6rem 0;
            }

            img {
                width: 6.5rem !important;

                @include media(pc) {
                    width: 40% !important;
                }
            }

            span, img, .numbers, button {
                margin: 0 0 !important;
        
                @include media(pc) {
                    margin: 0.6rem 0;
                }
            }

            .numbers {
                width: 20rem;
        
                @include media(pc) {
                }
                
                span {
                    text-align: center;
                    //width: 6rem;
                    padding: 0.1rem 0 !important;
        
                    @include media(pc) {
                    }
                }
            }

            button {
                padding: 0.4rem 1.0rem !important; 
        
                @include media(pc) {
                }
            }

        }
    }
}